<!doctype html>

<html>

<head>
    <title>BLOGZ</title>
        <style>
            .error {
                color: red;
            }
            h1 {
                text-align:center;
            }
        </style>
</head>

<body>

    <nav>
        <a href='/blog'>Main Blog Page
        </a>
        <a href='/newpost'>Add a Blog Entry
        </a>
        <a href='/login'>Log In
        </a>
        <a href='/signup'>Sign Up
        </a>
        <a href='/logout'>Log Out
        </a>
        <a href='/'>Home
        </a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=True) %}
    <ul>
    {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
    {% endfor %}
    </ul>
{% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>