{% extends "base.html" %}
{% block content %}

    <h1>Build a Blog</h1>

    <h2>The individual title and post will be here.</h2>


    <h2></h2>
    <p>
        Display the objects related to the id given
        post id
        
        {{post_id}}

    </p>
    <p>
            title
            {{title}}
    </p>

    <p>
            body
            {{body}}

    </p>

    <p>
            body
            {{body}}
            

    </p>

    <p>

            blog post
            {{blog_post}}
    </p>
      
    <p>  
        blog body
        {{blog_body}}
    </p>
</hr>

{% endblock %}