{% extends "base.html" %}

{% block content %}

<h1>Register to Blogz</h1>
<form action="/signup" method="post">
    <table>
        <tr>

            <p class=error>{{ existing_message }} </p>
            <td><label for="email">Username</label></td>
            <td>
                <input name="username" type="text" value="{{ username }}">
                <p class=error> {{ empty_error_user_name }} </p>
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
                <p class=error> {{ empty_error_password }} </p>
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
                <p class=error> {{ match_error }} </p>
                <p class=error> {{ empty_error_verify_password }} </p>
            </td>
        </tr>
    </table>
    <input type="submit" value="Register">
</form>



<!-- <h1>Sign Up to Blogz</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="username" value="{{ username }}">
            </td>
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password">
            </td>
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password">
            </td>
        </tr>
    </table>
    <input type="submit" value="Sign Up">
</form>

<h1>Signup Page</h1>

    <form method="POST">
        
        <p><label>
            Username:
            <input type="text" name="username" />
        </label></p>
        <p class=error> {{ empty_error_user_name }} </p>

        <p><label>
            Password:
            <input type="password" name="password" />
        </label></p>
        <p class=error> {{ empty_error_password }} </p>

        <p><label>
            Verify Password:
            <input type="password" name="verify_password" />
        </label></p>
        <p class=error> {{ match_error }} </p>
        <p class=error> {{ empty_error_verify_password }} </p>

        <input type="Sign Up" />

    </form> -->

{% endblock %}